/* .Button button{ */
    /* margin: 15px; */
    /* justify-content: space-around; */
/* } */
.myBox button{
    display: block;
}

#remove{
    /* color: black; */
    /* background-color: rgb(245, 149, 5); */
    border-radius: 20%;
    border: none;
}